/*          PRODUCT-LISTING PAGE        */


.tab {
    height: 64px;
    padding: 15px 100px 15px 100px;
    display: flex;
    align-items: center;
}


.tab ul {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    list-style: none;
    gap: 10px;
}

.tab ul li {
    color: var(--grey);
}

main>aside {
    width: 240px;
    height: 1448px;
    margin: 0 0 10px 100px;
}

aside>.sidebar .category {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 48px;
    border-top: 1px solid var(--border);
}

aside>.sidebar .category h3 {
    font-weight: 600;
}

aside>.sidebar ul {
    list-style: none;
}

aside>.sidebar ul li {
    height: 36px;
    color: #505050;
}

aside>.sidebar ul li:last-child {
    color: #0D6EFD;
    cursor: pointer;
}

aside>.sidebar ul li:last-child:hover {
    text-decoration: underline;
}

aside>.sidebar2 ul li {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;
}

aside>.sidebar2 ul li input[type="checkbox"] {
    width: 20px;
    height: 20px;
    cursor: pointer;
}

aside>.sidebar>.range {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

aside>.sidebar>.range .price {
    background-color: white;
    height: 30px;
    width: 50px;
    border: 1px solid var(--border);
    border-radius: 6px;
    padding-left: 5px;
    outline: none;
}

aside>.sidebar>.range .price::placeholder {
    color: var(--grey);
}

aside>.sidebar>.apply {
    color: #0D6EFD;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 228px;
    border: 1px solid var(--border);
    border-radius: 6px;
    cursor: pointer;
}

aside>.sidebar>.apply:hover {
    background: #0b5ed7;
    color: white;
}

aside>.sidebar4 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
}

aside .sidebar5 ul li input[type="radio"] {
    width: 20px;
    height: 20px;
    cursor: pointer;
}

aside .sidebar5 ul li:last-child {
    color: #505050;
}

aside .sidebar5 ul #none_decoration {
    text-decoration: none;
}

aside>.sidebar6 ul li {
    display: flex;
    justify-content: flex-start;
    align-items: center;

}

aside>.sidebar6 ul li input[type="checkbox"] {
    width: 20px;
    height: 20px;
    cursor: pointer;
}

aside>.sidebar6 ul li input {
    margin-right: 15px;
}

aside>.sidebar {
    padding-bottom: 10px;
}

main {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-right: 100px;
}

main .right_side {
    width: 875px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
}

main .total_items {
    height: 62px;
    width: 100%;
    background-color: white;
    border: 1px solid var(--border);
    border-radius: 6px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

main .total_items .no_of_items {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

main .total_items .no_of_items p:last-child {
    font-weight: bold;
}

main .total_items .tiles .verified {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

main .total_items .tiles .verified input[type="checkbox"] {
    width: 20px;
    height: 20px;
    cursor: pointer;
}

main .total_items .tiles {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

main .total_items .tiles .featured {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid var(--border);
    border-radius: 6px;
    padding: 10px;
    width: 170px;
    cursor: pointer;
}

main .total_items .tiles .grid_tile {
    display: flex;
}

main .total_items .tiles .grid_tile .grid {
    border: 1px solid var(--border);
    width: 38px;
    height: 40px;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    cursor: pointer;
}

main .total_items .tiles .grid_tile .tile {
    border: 1px solid var(--border);
    width: 38px;
    height: 40px;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    cursor: pointer;
    background-color: #EFF2F4;
}

main .right_side .product_list {
    height: 230px;
    width: 100%;
    background-color: white;
    border: 1px solid var(--border);
    border-radius: 6px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
    padding-right: 20px;
}

main .right_side .product_list .description>p:first-child {
    font-weight: 500;
}

main .right_side .product_list .description .price {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}

main .right_side .product_list .description .price p:first-child {
    font-size: 20px;
    font-weight: 600;
}

main .right_side .product_list .description .price p:last-child {
    font-weight: 600;
    color: var(--grey);
    text-decoration: line-through;
}

main .right_side .product_list .description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
}

main .right_side .product_list .description .reveiws {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}

main .right_side .product_list .description .reveiws ul {
    list-style: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

main .right_side .product_list .description .reveiws ul p {
    color: #FF9017;
    margin-left: 10px;
}

main .right_side .product_list .description .reveiws .dot {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #DEE2E7;
}

main .right_side .product_list .description .reveiws .order {
    color: var(--grey);
}

main .right_side .product_list .description .reveiws .shipping {
    color: #00B517;
}

main .right_side .product_list .description .lorem {
    color: #505050;
}

main .right_side .product_list .description .details {
    font-weight: 500;
    color: #0D6EFD;
}

main .right_side .product_list .heart {
    width: 40px;
    height: 40px;
    border: 1px solid var(--border);
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-self: flex-start;
    align-items: center;
    padding: 20px;
    margin-top: 20px;
}

main .right_side .product_list .modify_img {
    margin-left: 25px;
}

main .right_side .product_list .modify_desciption {
    margin-left: 15px
}

main .right_side .paginations {
    display: flex;
    justify-content: center;
    align-self: flex-end;
    gap: 10px;
    margin-bottom: 30px;
}

main .right_side .paginations .show {
    height: 40px;
    width: 125px;
    background-color: white;
    border: 1px solid var(--border);
    border-radius: 6px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

main .right_side .paginations .pagination {
    width: 217px;
    height: 40px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    align-items: center;
    justify-items: center;
    border: 1px solid var(--border);
    border-radius: 6px;
    background-color: white;
}

main .right_side .paginations .pagination .grid {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 1px solid var(--border);
}

main .right_side .paginations .pagination .grid:last-child {
    border-right: none;
    font-weight: bolder;
}

main .right_side .paginations .pagination .grid:first-child {
    color: var(--grey);
    font-weight: bolder;
}

main .right_side .paginations .pagination .modify_color {
    background-color: #DEE2E7;
    color: var(--grey);
}



